<h4 *ngIf="!allowEdit">You are not allowed to edit this server</h4>
<div *ngIf="allowEdit">

  <div class="form-group">

    <label for="name"> Server Name </label>
    <input type="text"
           id="name"
           class="form-control"
           [(ngModel)]="serverName">

    <label for="status"> Server Status </label>
    <select type="text"
            id="status"
            class="form-control"
            [(ngModel)]="serverStatus">
      <option value="online">Online</option>
      <option value="offline">Offline</option>
    </select>
    <button type="button" class="btn btn-primary"
            (click)="onUpdateServer()">Update Server
    </button>
  </div>

</div>
