<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             routerLink="/"
             [routerLinkActiveOptions]="{exact: true}">
            Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/servers">Servers</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['users']">Users</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
