<h4>Welcome to the Home Page</h4>
<p>You are seeing snapshot version of the website</p>

<button class="btn btn-primary"
        (click)="onLoadServers(1)">Load Servers</button>

<button class="btn btn-default" (click)="onLogin()">Login</button>
<button class="btn btn-default" (click)="onLogout()">Logout</button>
